[Unit]
Description=Temperature Alarm Monitor
Wants=lm_sensors.service
After=lm_sensors.service
Wants=healthd-mon.service
After=healthd-mon.service
OnFailure=notify-email@%i.service

[Service]
ExecStart=/usr/bin/healthd-alert
Type=simple
KillMode=process
Restart=always
RestartSec=30


[Install]
WantedBy=multi-user.target

