[Unit]
Description=Temperature Alarm Monitor
Wants=lm_sensors.service
After=lm_sensors.service
Wants=healthd-monitor.service
After=healthd-monitor.service

[Service]
ExecStart=@BINDIR@/healthd-alert
Type=simple
KillMode=process
Restart=always
RestartSec=30


[Install]
WantedBy=multi-user.target

