[Unit]
Description=RRD Health Monitor
Wants=network-online.target local-fs.target
After=network-online.target local-fs.target

[Service]
ExecStart=@LIBEXEC@/healthd/healthd-monitor
Restart=always
RestartSec=1800

[Install]
WantedBy=multi-user.target

